
body{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    background-color: #1a1c20;


    
}

.navbar{
   
    margin: 2%;
}
.navbar-brand{
    filter: brightness(0) invert(1);

}
.nav-link{
    color: rgba(255, 255, 255, 0.863);
}

.p-title{
    color: #ffffff8c;
    font-size: 30px;
    
}

h1{
    color: #ffffff;
    font-size: 80px;

}
@media(max-width:536px){
    h1{
        font-size: 53px;
    }
}



.title-title{
    font-family: 'Syne', sans-serif;
 margin: 20px 20px;

}

.seyi-image{
    width: 100%;

    /* padding-bottom: 20%; */

    

}

.seyi-about{
    width: 25%;
    border: 5px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90%;
    z-index: 3;
}

@media(max-width: 635px){
    .seyi-about{
        width: 70%;
        z-index: 1;
    }
   

}

.about-text{
    color: #0000008c;
    text-align: center;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0.712);
    padding: 2% 2%;
}

.button-style{
    padding: 10px;
    z-index: 3;

}

#contact{
    padding: 3% 3%;

    text-align: center;
    color: #fff;

}

.contact-text{

    font-size: 50px;


}

@media(max-width: 589;){

    div.fas{
        fa-3x;
    }
}
.projects{
    padding: 2% 2%;
}

.card{
    margin: 5% 2%;
}

.icon{
width: 90px;
margin: 4% 2%;
}